<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>We played scissors!</h2>

  <h2>They played <%= @outcome %></h2>

  <% if @roll == "scissors" %>
    <h2>We tied!</h2>
  <% elsif @roll == "paper" %>
    <h2>We won!</h2>
  <% else @roll == "rock" %>
    <h2>We lost!</h2>
  <% end %> 
  <div><a href="/">Rules</a></div>
</body>
</html>
